.highlight {
    background-color: #3498db;
    color:#ffffff;
    border-radius: 3px;
    padding-left: 3px;
}
.error {
    background-color: lightcoral;
    border: red;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.title {
    font-weight: 900;
    color: #3498db;       /* 글자색만 파란색 */
    font-size: 50px;
    letter-spacing: 1px;  /* 글자 간격 */
}
.box {
    border: 3px solid #3498db; /* 파란색 테두리, 두께 3px */
    border-radius: 15px;        /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
    padding: 20px;              /* 내용 여백 */
    background-color: #ffffff;  /* 흰색 배경 */
    justify-items: center;
    padding-bottom: 70;
}

.button {
    border: none;             /* 테두리 제거 */
    background-color: #3498db; /* 파란색 배경 */
    color: white;             /* 글자색 하얀색 */
    padding: 6px 12px;       /* 안쪽 여백 */
    border-radius: 8px;       /* 모서리 둥글게 */
    font-size: 16px;
    cursor: pointer;          /* 마우스 올리면 손 모양 */
    transition: background 0.3s; /* 호버 효과 부드럽게 */
}
.button:hover {
    background-color: #2980b9; /* 마우스 올리면 진한 파랑 */
}
.button:disabled {
    background-color: #cccccc; /* 회색 배경 */
    cursor: not-allowed;       /* 마우스 커서 변경 */
    opacity: 0.6;              /* 살짝 투명 */
}

.inputbox {
    width: 140px;

    border: none;                 /* 기본 테두리 제거 */
    border-bottom: 2px solid #a3d0f7; /* 기본 연한 파란색 밑줄 */
    outline: none;                /* 포커스 시 기본 테두리 제거 */
    padding: 1px 3px;
    margin-right: 8px;
    font-size: 16px;
    background: transparent;      /* 배경 없애기 */
    transition: border-color 0.3s;
    color: #000;                  /* 글자색 */
}
.inputbox:focus {
    border-bottom: 2px solid #3498db; /* 선택 시 진한 파란색 */
}


.message {
    font-size: 18px;   /* 글자 크기 조절 */
    color: black;    /* 글자색 검은색 */
    font-weight: 500;  /* 원하면 글자 굵기 조절 가능 */
    line-height: 1.5;  /* 줄 간격 */
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}